<div id="map"
     style="width: 50%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= simple_form_for @route do |f| %>
  <%= f.input :start %>
  <%= f.input :end %>
  <%= f.submit 'Submit', name: 'create_and_add', class: 'btn-main-yellow small ml-2'%>
<% end %>


