<!DOCTYPE html>
<html>
  <head>
    <title>OnTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <!-- Import Mapbox GL JS -->
    <script src=https://api.tiles.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js></script>
    <link href=https://api.tiles.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css rel="stylesheet" />
    <!-- Import Mapbox GL Directions -->
    <script src=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js></script>
    <link rel="stylesheet" href=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css type="text/css" />
    </head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
